@model IEnumerable<ShopConnection.tbCART>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!------------------------------ cart items details------------------------------>

<div class="small-container cart-page">
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="">
                        <div>
                            <p>@item.TenSP</p>
                            <small>Price: @item.Dongia</small><br>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" vlaue="1"></td>
                <td>@ViewBag.Thanhtien</td>
            </tr>
        }
    </table>
   
    <div class="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td>@ViewBag.Thanhtien</td>
            </tr>
            <tr>
                <td>Discount</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>@ViewBag.Thanhtien</td>
            </tr>
        </table>
    </div>
</div>

