@using RedStoreWebsite.Models
@{
    ViewBag.Title = "_Layout2";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>All Products - Redstore</title>
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!--added a cdn link by searching font awesome4 cdn and getting this link from https://www.bootstrapcdn.com/fontawesome/ this url*/-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <!--<div class ="header">-->
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="@Url.Action("index", "Home")">
                    <img src="~/images/logo.png" width="125px">
                </a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a>@Html.ActionLink("Home", "index", "Home")</a></li>
                    <li><a>@Html.ActionLink("Products", "index", "Shop")</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a>@Html.ActionLink("Account", "index", "Account")</a></li>

                </ul>
            </nav>
            <a href="cart.html"><img src="~/images/cart.png" width="30px" height="30px"></a>
            <img src="~/images/menu.png" class="menu-icon" onClick="menutoggle()">
        </div>

    </div>

    <!--Đoạn này lấy từ ~/Views/Shop/....-->
    @RenderBody()

    <!--Đoạn này lấy từ ~/Views/Shared/_Footer.cshtml)-->
    @{ Html.RenderPartial("_Footer");}

    <!-----------------------------------js for toggle menu----------------------------------------------->
    <script>
        var menuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            }
            else {
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>
</body>
</html>



